.contact-container {
  display: flex;
  align-items: left;
  margin: 2rem auto;
  flex-direction: column;
  width: 500px;
}

.contact-card {
  display: flex;
  height: 110px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon svg {
  color: black;
  width: 45px;
  height: 45px;
}

.main-list {
  display: flex;
  align-items: center;
}

.first-list {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.list li {
  list-style: none;
}

@media only Screen and (max-width: 420px) {
  .contact-container {
    width: 100%;
  }
  .list {
    padding: 15px;
  }
}
