.card-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 68vh;
}

.card {
  width: 320px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  border-radius: 5px;
  width: 100%;
}

.card-title {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

small {
  font-size: 18px;
  color: #a0a0a0;
}

.light-bar::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0px;
  background-color: #0300a1;
  left: 50%;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height 0.25s ease-in-out;
}

.card:hover .light-bar::after {
  height: 8px;
  width: 100%;
  left: 0;
}

.card:hover {
  transform: scale(1.04);
}

.card {
  text-decoration: none;
}
