.header {
  display: flex;
  flex-direction: column;
}

.resume-title {
  text-align: center;
  padding-top: 55px;
  font-weight: bold;
  font-size: 2.3rem;
}

.btn-switch {
  margin: 0 5rem;
  display: flex;
  justify-content: flex-end;
}

.btn-switch small {
  color: black;
  margin: auto 1rem;
}

.resume {
  text-align: center;
  margin-bottom: 150px;
}

.image-container {
  margin: auto;
  background-image: url("https://www.img.in.th/images/3914bb867cb198e343c944225a0956b4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 295px;
  height: 295px;
  border-radius: 50%;
}

.resume-container {
  margin: 1rem 5.5rem;
  display: flex;
  justify-content: center;
}

.resume-content {
  display: flex;
  justify-content: center;
  text-align: left;
}

.education,
.EXP {
  margin: 0 2rem;
}

.education ul,
.EXP ul {
  list-style: none;
  margin-top: 1rem;
}

.title {
  font-size: 23px;
  font-weight: bold;
}

.h1 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 1rem;
}

.h2 {
  font-size: 15px;
}

.position {
  font-size: 18px;
  font-weight: bold;
}

li {
  font-size: 17px;
}

.title-skill {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.skill {
  margin: 2rem auto;
}

.skill img {
  object-fit: cover;
  width: auto;
  height: 100px;
  margin: auto 1.5rem;
}

.logo {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-resume {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  height: 70px;
  width: 100%;
  color: rgb(97, 97, 97);
}

@media only Screen and (max-width: 900px) {
  .resume-content {
    flex-direction: column;
    align-items: center;
  }
  .education,
  .EXP {
    margin: 15px auto;
  }
  .logo {
    display: block;
  }
  .logo > div {
    margin: 10px auto;
  }
}

@media only Screen and (max-width: 600px) {
  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
  }

  .h2 {
    font-size: 13px;
  }

  .position {
    font-size: 15px;
    font-weight: bold;
  }

  li {
    font-size: 14px;
  }

  .title-skill {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .resume {
    margin-bottom: 25px;
  }
}
